body {
    /* width: 1280px;
    height: 1626px; */ 
    /*в body розміри не вказуються, бо він залежить від наповнення */
    background: rgba(0, 0, 0, 0.0001);
}

.header-nav {
    list-style-type: none;
    padding-top: 25.5px;
    display:flex;
    justify-content: center;
}

.header-nav-item {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2.7px;
    margin-right: 60px;
}

a {
    text-decoration: none;
    color: #ff0000;
}
section {
    text-align: center;
    margin: 0 auto;
}

.main-img {
    margin: 25.5px auto;
}

.main-title {
    margin-top: 48px;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

.main-text {
    margin-left: 67.5px;
    margin-right: 67.5px;
    margin-top: 38px;
    letter-spacing: 2.4px;
    font-size: 16px;
    line-height: 26px;
    color: #373737;
}

.button-start {
    background: #ff0000;
    color: #ffffff;
    border: solid red;
    border-radius: 4px;
    padding: 17px 45px;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    margin: 35px auto;
    text-transform: uppercase;
}

.footer-copyright {
    margin-right: 105px;
    margin-top: 40px;
    margin-bottom: 29px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 2.4px;
    text-align: right;
    color: #373737;
}